//colors
$white: #ffffff;
$magenta: linear-gradient(90deg, #390696 2.64%, #8c129a 100%);
$purple: #789dd8;
$blue: #1074d8;
$darkGray: #333333;
$lightGray: #999999;
$lightBlue: #f6f8fd;
$black: #000000;
$grey: #555555;
$lightPurple: #dfe3ed;
$silver: #c1c1c1;
